@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@400;700;900&display=swap');

:root {
    --color-primary: #006989;
    --color-secondary: #B2DCE7;
    --color-white: #ffffff;
    --color-black: #000000;
    --grid-line: #e8e8e8;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: #333;
    --grid-cell-size: 65px;
    --grid-line-color: var(--grid-line);
    --grid-line-thickness: 1.5px;
    background-color: var(--color-white);
    background-image:
        linear-gradient(to right, var(--grid-line-color) var(--grid-line-thickness), transparent var(--grid-line-thickness)),
        linear-gradient(to bottom, var(--grid-line-color) var(--grid-line-thickness), transparent var(--grid-line-thickness));
    background-size: var(--grid-cell-size) var(--grid-cell-size);
}

.content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background-color: var(--color-black);
    color: var(--color-secondary);
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px 20px;
}

.logo h1 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 700;
}

.nav-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--color-secondary);
    text-decoration: none;
    margin-left: 30px;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--color-white);
}

.nav-btns {
    display: flex;
    gap: 10px;
}

.login-btn,
.signup-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn {
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
    color: var(--color-primary);
}

.signup-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.middle-nav {
    background-color: var(--color-primary);
    border: #000000 2px solid;
    padding: 40px 10px 40px 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.middle-btn {
    background-color: white;
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    width: 24px;
    height: 24px;
}


.hero_sec {
    display: flex;
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 20px;
    border: 5px solid black;
    background-color: var(--color-white);
    box-sizing: border-box;
    overflow: hidden;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    width: 50%;
    height: 100%;
    background-image: url('/public/assets/images/bgimage.png');
    background-size: cover;
    background-position: center;
}

.hero-logo {
    width: 100%;
    margin-bottom: 130px;
    text-align: center;
}

.hero-logo img {
    display: inline-block;
    width: 30%;
    height: auto;
    border-radius: 15px;
}

.hero-ltext {
    width: 70%;
    text-align: left;
    font-family: 'inter', sans-serif;
    color: #006989;
    margin-left: 50px;
}

.hero-ltext h1 {
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    line-height: 1.1;
}

.hero-ltext h6 {
    font-size: .7em;
    font-weight: 100;
    margin: 0;
    color: #7E7E7E;
}

.hero-ltext span {
    color: #0B8DB4;
}

.hero-right {
    width: 50%;
    height: 100%;
    background-image: url('/public/assets/images/hero_right_image.png');
    background-size: cover;
    background-position: center;
}

.potrait-text {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700px;
    padding-left: 20px;
    padding-right: 20px;
}

.left-btn,
.right-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    border-radius: 150px;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.potraits {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.potraitcard {
    border-radius: 31px;
}

.potraitcard:hover {
    transform: scale(1.2);
    transform: translateY(-20px), scale(1.5);
    transition: transform 0.5s;
    box-shadow: #7abfd4 0px 0px 100px;
}

.how_sec {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 20px;
    border: 5px solid black;
    background-color: var(--color-white);
    box-sizing: border-box;
    gap: 10px;
    padding-top: 100px;
}

.how-it-works h3 {
    font-size: .5rem;
    color: #006989;
    font-family: 'inter', sans-serif;
    font-weight: 1000;
    letter-spacing: 1px;
    border: 3px solid #006989;
    border-radius: 50px;
    padding: 12px 25px;
    display: inline-block;
    margin: 0;
}

.studioaljo {
    font-family: 'inter', sans-serif;
    color: #006989;
    font-style: bold;
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

.process {
    font-family: 'inter', sans-serif;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 100;
    width: 38%;
    margin: 0 auto
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    margin-top: 30px;
}

.card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 100px 0px rgba(0, 105, 137, 0.25);
    padding: 20px 20px;
    width: 20%;
    transition: all 0.3s ease;
    text-align: left;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 40px rgba(0, 105, 137, 0.35);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.subtitle {
    font-size: 0.9em;
    color: #0b8db4;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
}

.title {
    text-align: left;
    font-size: 1.2em;
    color: black;
    margin: 10px 0;
    font-family: 'inter', sans-serif;
}

.desc {
    text-align: left;
    font-size: 0.8em;
    color: #555;
    line-height: 1.6;
}

.ft_sec {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 20px;
    border: 5px solid black;
    background-color: white;
    box-sizing: border-box;
}

.features {
    color: var(--color-black);
    font-size: 1.2em;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 50px;
    padding-left: 50px;
}

.title-row {
    width: 100%;
    text-align: left;
}

.f_title {
    display: block;
    font-family: 'inter', sans-serif;
    color: #006989;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    padding-left: 50px;
}

.divider {
    width: 50%;
    height: 4px;
    background-color: #e8e8e8;
    opacity: 0.8;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 50px;
}

.ft-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.ft-card {
    color: white;
    font-size: .9em;
    background: #006989;
    border-radius: 30px;
    border: #000000 5px solid;
    padding: 10px;
    width: 200px;
    transition: all 0.3s ease;
    text-align: left;
}

.ft-card img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.ft-desc {
    color: #aeccda;
    font-size: 1em;
    line-height: 1.4;
    margin-top: 10px;
    text-align: left;
}

.divider2 {
    width: 50%;
    height: 4px;
    background-color: #e8e8e8;
    opacity: 0.8;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: auto;
}

.start-creating-btn {
    display: flex;
    align-items: center;
    width: 266px;
    height: 71px;
    text-decoration: none;
    cursor: pointer;
    background: #006989;
    border-radius: 43px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 50px;
    margin-left: auto;
}

.btn-icon-area {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-left: 4px;
    background: #B2DCE7;
    border: 3px solid #FFFFFF;
    border-radius: 43px 43px 0px 43px;
}

.btn-arrow-icon {
    width: 24px;
    height: 24px;
    background: url('/public/assets/images/right-white.png') no-repeat center center / contain;
}

.btn-text {
    margin-left: 14px;
    flex-grow: 1;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    white-space: nowrap;
}

.start-creating-btn:hover {
    background: #0087b3;
    transform: translateY(-1px);
}

.why-choose {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 800px;
    margin-top: 15px;
    border-radius: 20px;
    border: 5px solid black;
    background-color: var(--color-white);
    box-sizing: border-box;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.why-text {
    margin-top: 30px;
    color: #006989;
    font-size: 2.5em;
    font-weight: 700;
}

.why-text span {
    color: #000000;
    text-shadow: #0000005b 2px 2px 15px;
}

.imagine {
    margin-top: -20px;
    color: rgba(81, 81, 81, 0.67);
    font-weight: 800;
}

/* paper stays at back */
.paper-bg {
    display: block;
    position: relative;
    width: 60%;
    margin: 50px auto 0;
    z-index: 1;
}

/* dashed line in between cards */
.dashed-lines {
    position: absolute;
    top: 60%;
    /* fine-tune for perfect alignment */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    z-index: 1.5;
    /* between paper and cards */
    opacity: 0.8;
    pointer-events: none;
}

/* cards on top */
.pin-cards {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    z-index: 2;
}

.pin-cards img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.pin-cards img:hover {
    transform: translateY(-8px);
}

.marquee-container {
    width: auto;
    height: 35px;
    align-items: center;
    overflow: hidden;
    background: #f8f8f8;
    margin-top: 15px;
    border-radius: 20px;
    border: 5px solid black;
    padding: 10px 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.marquee {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.marquee span {
    font-family: 'inter', sans-serif;
    font-weight: 1000;
    color: #006989;
    font-size: 1.5rem;
    white-space: nowrap;
    padding-right: 3rem;
    letter-spacing: 1px;
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.footer_sec {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 810px;
    margin-top: 15px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: none;
    /* Remove bottom border */
    border-radius: 50px 50px 0 0;
    /* Keep top corners rounded */
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 0;
    /* Remove bottom gap */
    color: var(--color-secondary);
}

.cta_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    border-radius: 50px;
    background-image: url('/public/assets/images/cta_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding-bottom: 20px;
}

.cta_container h1 {
    color: rgb(22, 22, 22);
    font-size: 3em;
    text-shadow: #00000067 2px 2px 15px;
    text-align: left;
    padding: 40px 0 0 40px;
    z-index: 2;
}

.cta_container p {
    color: rgb(61, 61, 61);
    text-align: left;
    padding: 0 0 0 40px;
}

.try-btn {
    width: fit-content;
    padding: 20px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffefe0 100%);
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 1000;
    margin-left: 60%;
    box-shadow: #00000067;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

.footer {
    margin-top: 40px;
    font-family: 'inter', sans-serif;
    background-color: black;
    color: white;
    border-radius: 50px 50px 0 0;
    height: 450px;
    width: 100%;
}