services:
  - type: web
    name: studioaljo
    runtime: node
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: GOOGLE_API_KEY
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: NODE_ENV
        value: production
